.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.logo {
  width: 728px;
  height: 102px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 35px;
}

.button {
  width: 224px;
  height: 75px;
  background-color: #00FFEF;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  margin-top: 49px;
  border-radius: 22px;
  border: none;
  font-weight: 700;
  font-size: 3rem;
  cursor: pointer;
}