.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  margin-top: 70px;
}

.searchBar {
  width: 696px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 16px;
  color: black;
  font-weight: 700;
  padding: 0 20px 0 20px;
}

.searchBar:focus {
  outline: none;
}

.searchBar::placeholder {
  color: #232323;
  font-weight: 700;
}

.results {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 530px;
  margin-top: 20px;
}

.results::-webkit-scrollbar {
  display: none;
}

.error {
  color: rgb(255, 255, 255);
  font-size: 18px;
}