.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 900px;
  height: 600px;
  padding: 43px 29px;
  color: white;
  background-color: #151515;
  box-shadow: 2px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.image {
  width: 390px;
  height: 290px;
  border-radius: 8px;
  box-shadow: 2px 3px 18px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 290px;
  border-radius: 8px;
  color: white;
  background-color: #303030;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  box-shadow: 2px 3px 18px rgba(0, 0, 0, 0.25);
}

.rowOne {
  display: flex;
  gap: 18px;
}

.rowTwo {
  width: 842px;
  height: 304px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #303030;
  font-size: 16px;
  border-radius: 8px;
}

.exitButton {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 20px;
  font-weight: 800;
  color: #00FFEF;
  cursor: pointer;
}

.price {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  bottom: 10px;
  right: 20px;
}

.price p, h2 {
 margin-top: 0;
 margin-bottom: 5px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #01cbbd;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}